---
import { Image } from 'astro:assets'
import bonusImage from '../assets/artboard.png'
---

<div class="container px-5 py-10 z-10 relative">
  <div class="flex flex-col md:flex-row justify-between items-center gap-10">
    <div class="relative overflow-hidden bonus-image">
      <Image src={bonusImage} alt="hero" class="max-w-[300px] sm:max-w-[400px] xl:max-w-full" quality={100} />
    </div>

    <div class="max-w-4xl">
      <h2 class="text-primary text-3xl sm:text-4xl italic mb-5 sm:mb-10 font-extrabold text-center">Um bônus de depósito</h2>
      <p class="mb-5 sm:mb-10">
        Mostbet bukmeyker kompaniyasi 2009-yilda tashkil topib oʻn yil ichida bozor ichida oʼzini ishonchli va halol bukmeyker sifatida tavsiya qildi. Mostbet brendining huquqlari StarBet N.V.
        kompaniyasiga tegishli boʻlib, uning ofisi Kiprning poytaxti Nikosiyada joylashgandir. Bizning kompaniyamiz eng koʻp pul tikish bukmeykeri va biz 93 mamlakatda faol koʼrsatib, qaʻrib 1
        milliondan ortiq oʼyinchini birlashtiramiz va kuniga 800 mingdan ortiq pul tikiladi.
      </p>
      <a href="#" class="goto text-white hero-button w-full block text-center text-2xl font-bold sm:w-[450px] mx-auto py-4 rounded-xl mb-10">Play</a>
    </div>
  </div>
</div>

<style>
    .hero-button {
      background: linear-gradient(180deg, #12b1eb 0%, #0a96f3 100%);
    }
</style>
